[submodule "lib/poseidon-lite-for-scroll"]
	path = lib/poseidon-lite-for-scroll
	url = https://github.com/jimjimvalkema/poseidon-lite-for-scroll.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
