node_modules/
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
out/Context.sol/Context.json
out/ECDSA.sol/ECDSA.json
out/EIP712.sol/EIP712.json
out/ERC20/ERC20.sol/ERC20.json
out/ERC20/IERC20.sol/IERC20.json
out/ERC20.sol/ERC20.json
out/ERC20Permit.sol/ERC20Permit.json
out/IERC20.sol/IERC20.json
out/IERC20Metadata.sol/IERC20Metadata.json
out/IERC20Permit.sol/IERC20Permit.json
out/IERC5267.sol/IERC5267.json
out/Math.sol/Math.json
out/MessageHashUtils.sol/MessageHashUtils.json
out/Nonces.sol/Nonces.json
out/Ownable.sol/Ownable.json
out/ShortStrings.sol/ShortStrings.json
out/SignedMath.sol/SignedMath.json
out/StorageSlot.sol/StorageSlot.json
out/Strings.sol/Strings.json
out/Token.sol/IVerifier.json
out/Token.sol/Token.json
out/access/Ownable.sol/Ownable.json
out/build-info/8d0e122fa56f48f8192a00a09aa3eff1.json
out/build-info/85baf423c538594cd2a8280e505c5ae5.json
out/build-info/832b93f6053589fffb434e02f663bc82.json
out/build-info/7704c2567eb1cd3e13703fab523fb295.json
out/cryptography/ECDSA.sol/ECDSA.json
out/cryptography/EIP712.sol/EIP712.json
out/cryptography/MessageHashUtils.sol/MessageHashUtils.json
out/draft-IERC6093.sol/IERC20Errors.json
out/draft-IERC6093.sol/IERC721Errors.json
out/draft-IERC6093.sol/IERC1155Errors.json
out/extensions/ERC20Permit.sol/ERC20Permit.json
out/extensions/IERC20Metadata.sol/IERC20Metadata.json
out/extensions/IERC20Permit.sol/IERC20Permit.json
out/interfaces/IERC5267.sol/IERC5267.json
out/interfaces/draft-IERC6093.sol/IERC20Errors.json
out/interfaces/draft-IERC6093.sol/IERC721Errors.json
out/interfaces/draft-IERC6093.sol/IERC1155Errors.json
out/math/Math.sol/Math.json
out/math/SignedMath.sol/SignedMath.json
out/plonk_vk.sol/BaseUltraVerifier.json
out/plonk_vk.sol/UltraVerificationKey.json
out/plonk_vk.sol/UltraVerifier.json
out/utils/Context.sol/Context.json
out/utils/Nonces.sol/Nonces.json
out/utils/ShortStrings.sol/ShortStrings.json
out/utils/StorageSlot.sol/StorageSlot.json
out/utils/Strings.sol/Strings.json
out/zkwormholesEIP7503/Token.sol/IVerifier.json
out/zkwormholesEIP7503/Token.sol/Token.json
evm/ignition/deployments/chain-534351/deployed_addresses.json
evm/ignition/deployments/chain-534351/journal.jsonl
evm/ignition/deployments/chain-534351/artifacts/TokenModule#Token.dbg.json
evm/ignition/deployments/chain-534351/artifacts/TokenModule#Token.json
evm/ignition/deployments/chain-534351/build-info/0dfe92656c05baa3f28c0220eb633bfc.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
